.Synonyms .synonyms-list {
  font-size: 18px;
  font-family: "Source Serif Pro", serif;
  line-height: 2;
  font-style: italic;
  font-weight: 600;
  display: inline-block;
  margin-left: 15px;
  margin: 20px 0;
}